/*-- scss:defaults --*/

// Colors
$cultured: #f6f7f9;
$lavendar-blush: #E8D9DB;
$onyx: #38383A;
$black: #020202; 
$rifle-green: #414A37; 
$rosewood: #5B0B15; 
$black-bean: #490910; 
$persian-plum: #6D0D19; 
$silver-pink: #C4B1B2; 
$ivory: #F5F5F4;

// Base document colors
$navbar-bg: $cultured; // navbar
$navbar-fg: $black-bean; // navbar foreground elements
$navbar-hl: $persian-plum; // highlight color when hovering over navbar links
$body-bg: $cultured; // page background 
$body-color: $black; // page text 
$headings-color: $black-bean; // heading text
$footer-bg: $ivory; // footer 
$link-color: $rifle-green; // hyperlinks 

// Inline code
$code-bg: $rosewood; // inline code background color
$code-color: $lavendar-blush; // inline code text color

// Code blocks
$code-block-bg: $silver-pink;  // code block background color

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fraunces:ital,opsz,wght@0,9..144,200;0,9..144,500;1,9..144,200&family=Raleway:ital,wght@0,300;0,600;1,300&display=swap');

$font-family-serif: 'Fraunces', serif; 
$font-family-sans-serif: 'Raleway', sans-serif;
$font-family-monospace: 'Cutive', monospace;

$headings-font-family: $font-family-serif;