/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Roboto+Mono&display=swap');

$font-family-sans-serif: Quattrocento, sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$presentation-heading-font: $font-family-sans-serif;

//formating stuff

//
$presentation-line-height:	1.3;
$presentation-font-smaller: 0.8;
$presentation-heading-font-weight: 400;


// colors
$purple: #4B2E83;
$gold: #B7A57A;
$metallic_gold: 	#85754D;
$white: #FFFFFF;
$black: #000000;
// tableau colors
$tab_blue: #4e79a7;
$tab_orange: #f28e2c;
$tab_red: #e15759; 
$tab_teal: #76b7b2; 
$tab_green: #59a14f;
$tab_yellow: #edc949;
$tab_purple: #af7aa1; 
$tab_pink: #ff9da7;
$tab_brown: #9c755f; 
$tab_grey: #bab0ab;

$body-color: $black;
$presentation-heading-color: $purple;
$body-bg: $white;
$link-color: $purple; 
$link-hover-color: $gold;
$btn-link-hover-color: $gold;
$tabset-border-color: $purple;
$code-block-font-size: 0.75em;
$code-color: $gold; 
$dark-bg-code-color: #ffa07a;
$code-block-bg: $black;

/*-- scss:rules --*/
// Ripped blink from stack overflow result //
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

// class selectors
.custom-title { 
  font-family: $font-family-sans-serif;
  color: $gold;
  font-size: 2.5em;
  font-weight: 500;
  position: relative;
  top: 0em;
  margin: 0;
}

.custom-subtitle { 
  font-family: $font-family-sans-serif;
  color: $gold;
  font-size: 1.5em;
  font-weight: 500;
  position: relative;
  top: 0.5em;
  margin: 0;
}

.custom-subtitle2 { 
  font-family: $font-family-sans-serif;
  color: $white;
  font-size: 1em;
  position: relative;
  top: 8em;
  margin: 0;
}

.custom-subtitle3 { 
  font-family: $font-family-sans-serif;
  color: $white;
  font-size: 1em;
  position: relative;
  top: 7em;
  margin: 0;
}

.section-title {
  font-family: $font-family-sans-serif;
  color: $white;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}


.highlight-tableaured {
  color: $tab_red;
}

.code-blue {
  $code-color: #4e79a7;
}

.small1 {
  font-size: 0.8em;
}

.reveal section h1 {
  color: $white;
}

// custom sizing
.custom-small table {
        font-size: .8em
      }
      
  